extends ../layout/base.pug

block content 
    form(action="/", method="get")
        button 홈으로가기 
    form(action="/createpost", method="post")
        input(type="text" name="name" placeholder="이미지제목 작성...")
        input(type="text" name="size" placeholder="이미지 사이즈 작성...")
        input(type="submit" value="작성")     